.card{
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 0;
    border: 1px solid var(--lightMaroon);
    background: var(--yellow);
    color: var(--white);
    text-align: center;
    width: 25%;
}
.heading{
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 10px;
    text-transform: capitalize;
    color: var(--maroon);
}
.card p{
    margin-bottom: 10px;
    color: var(--maroon);
}
.card p span{
    font-weight: 600;
    font-size: 18px;
}
.time{
    font-size: 12px;
}
@media(max-width:1024px){
    .card{
        width: 45%;
    }
}
@media(max-width:640px){
    .card{
        width: 50%;
        border-radius: 0;
        border: 1px solid var(--lightMaroon);
    }
}