.header{
    width: 100%;
    padding: 0 20px;
    background: var(--maroon);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
    max-height: 114px;
}