.header{
    width: 100%;
    padding: 0 20px;
    background: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: var(--shadow);
    max-height: 114px;
}